<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmakeServers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E99AC8E20206A8D00C2EC43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E99ACA620206A8D00C2EC43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E99ACB120206A8D00C2EC43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
